/outputs
/outputs/*
/script_tests
/script_tests/*
/ALA_outputs/
/ALA_outputs/*
/Benchmarking/
/Quarantine/
/Quarantine/*
/0*/*
/0*
/0
/1*
/1*/*
__pycache__/
_test*
/_hidden_scripts/*
_hidden_scripts
.vscode
